<a href="https://colab.research.google.com/github/aroa97/Web/blob/main/python_practice_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
def profile(name, age, *language):
  print(f"이름 : {name}\t 나이 : {age}\t", end=" ")
  print(len(language), end="\t")
  for i in range(len(language)): print(language[i], end="  ")
  print()

profile("찰리", 20, "파이썬", "자바", "C", "C++", "C#", "자바스크립트")
profile("루시", 25, "코틀린", "스위프트")

이름 : 찰리	 나이 : 20	 6	파이썬  자바  C  C++  C#  자바스크립트
이름 : 루시	 나이 : 25	 2	코틀린  스위프트

In [16]:
def sum(a, b):
  return a + b

valSum = sum(2, 3)
print(f"더한값은 {valSum} 입니다")

더한값은 5 입니다

In [19]:
def make_url(url):
  return "http://www." + url + ".com"

url = make_url("naver")
print(f"URL은 {url} 입니다")

URL은 http://www.naver.com 입니다

In [42]:
class telAddr:
  def __init__(self, name, age, number):
    self.name = name
    self.age = age
    self.number = number

  def setName(self, name):
    self.name = name

  def setAge(self, age):
    self.age = age

  def setTel(self, number):
    self.number = number

telBook = []
te = telAddr("순희", 24, "010-625-9928")
telBook.append(te)
te = telAddr("철수", 36, "010-536-9019")
telBook.append(te)
te = telAddr("말희", 40, "010-893-0092")
telBook.append(te)
te = telAddr("순신", 26, "010-772-9920")
telBook.append(te)

for i in telBook: print(i.name, i.age, i.number)

순희 24 010-625-9928
철수 36 010-536-9019
말희 40 010-893-0092
순신 26 010-772-9920

In [45]:
class Account:
  def __init__(self, bank, name, accountNumber, balance):
    self.bank = bank
    self.name = name
    self.accountNumber = accountNumber
    self.balance = balance

  def deposit(self, money):
    self.balance += money

  def withdraw(self, money):
    if self.balance < money: print("현재 잔액이 부족합니다.")
    else: self.balance -= money

  def display_info(self):
    print(f"{self.name}님의 현재 잔액은 {self.balance}원 입니다.")

wori = Account("우리은행", "박위비", "74857-993-0029", 200000)
shin = Account("신한은행", "김영호", "94833-003399", 170000)

wori.deposit(2000)
wori.deposit(1000)
wori.withdraw(9000)
shin.deposit(1000)

wori.display_info()
shin.display_info()

shin.withdraw(200000)

박위비님의 현재 잔액은 194000원 입니다.
김영호님의 현재 잔액은 171000원 입니다.
현재 잔액이 부족합니다.