<a href="https://colab.research.google.com/github/aroa97/Web/blob/main/python_practice_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
def profile(name, age, *language):
  print(f"이름 : {name}\t나이 : {age}\t")
  print(language, type(language))

profile("찰리", 20, "파이썬", "자바", "C", "C++", "C#", "자바스크립트")
profile("루시", 25, "코틀린", "스위프트")

이름 : 찰리	나이 : 20
('파이썬', '자바', 'C', 'C++', 'C#', '자바스크립트') <class 'tuple'>
이름 : 루시	나이 : 25
('코틀린', '스위프트') <class 'tuple'>

In [19]:
def toDay(hour):
  return hour // 24

def toYear(day):
  return day // 365, day % 365

hour = int(input("시간을 입력해주세요 : "))
day = toDay(hour)
year, rem = toYear(day)

print(f"{hour}시간은 {year}년 {rem}일이다")

시간을 입력해주세요 : 10000
10000시간은 1년 51일이다

In [36]:
scores = {"국어" : 50,"수학" : 40,"영어" : 70}

for subject, score in scores.items():
  print(subject, score)

국어 50
수학 40
영어 70

In [39]:
score = int(input("점수는? : "))
if score >= 90: print("A")
elif score >= 80: print("B")
elif score >= 70: print("C")
elif score >= 60: print("D")
else: print("F")

점수는? : 59
F

In [45]:
cash = {"달러" : 1167.0, "엔" : 10.96, "유로" : 1268.0, "위안" : 171.0 }

won = int(input("환전할 금액을 입력하세요 : "))
a = won / cash["달러"]
print(f"달러 : {a:.3f}")
b = won / cash["엔"]
print(f"엔 : {b:.3f}")
c = won / cash["유로"]
print(f"유로 : {c:.3f}")
d = won / cash["위안"]
print(f"위안 : {d:.3f}")

환전할 금액을 입력하세요 : 10000
달러 : 8.569
엔 : 912.409
유로 : 7.886
위안 : 58.480

In [50]:
math = {1 : 90, 2 : 80, 3 : 20, 4 : 50, 5 : 90, 6 : 40, 7 : 70, 8 : 90, 9 : 10}
eng = {1 : 100, 2 : 90, 3 : 30, 4 : 20, 5 : 30, 6 : 60, 7 : 50, 8 : 30, 9 : 90}
lan = {1 : 95, 2 : 90, 3 : 30, 4 : 40, 5 : 90, 6 : 80, 7 : 70, 8 : 20, 9 : 10}

for i in range(1, 10):
  scoreM = math[i]
  scoreE = eng[i]
  scoreL = lan[i]
  print(f"{i}번 | 수학 : {scoreM: >3}, 영어 : {scoreE: >3}, 국어 : {scoreL: >3} | 총점 : {scoreM + scoreE + scoreL: >3} | 평균 : {round((scoreM + scoreE + scoreL) / 3)}")

1번 | 수학 :  90, 영어 : 100, 국어 :  95 | 총점 : 285 | 평균 : 95
2번 | 수학 :  80, 영어 :  90, 국어 :  90 | 총점 : 260 | 평균 : 87
3번 | 수학 :  20, 영어 :  30, 국어 :  30 | 총점 :  80 | 평균 : 27
4번 | 수학 :  50, 영어 :  20, 국어 :  40 | 총점 : 110 | 평균 : 37
5번 | 수학 :  90, 영어 :  30, 국어 :  90 | 총점 : 210 | 평균 : 70
6번 | 수학 :  40, 영어 :  60, 국어 :  80 | 총점 : 180 | 평균 : 60
7번 | 수학 :  70, 영어 :  50, 국어 :  70 | 총점 : 190 | 평균 : 63
8번 | 수학 :  90, 영어 :  30, 국어 :  20 | 총점 : 140 | 평균 : 47
9번 | 수학 :  10, 영어 :  90, 국어 :  10 | 총점 : 110 | 평균 : 37